# Overwrite this line with the path to the OST!
#
# ========================================================================
# The script only reads the first line of this file!
# The standard paths to the OST should be as follows
#
# Windows --- C:\Program Files\Steam\SteamApps\common\common\Mushihimesama\res\DISKDATA\B\
#
# Linux   --- $HOME/.steam/debian-installation/steamapps/common/Mushihimesama/res/DISKDATA/B/
#   (On Linux, replace $HOME with your home directory, as usual)
#
# If your game is installed somewhere else, please provide the appropriate path to the OST folder
# Also make sure that the path ends in a "/" or "\"!
# ========================================================================

